body {
    background-color: #4d4d4d;
}
.container {
    height: 100vh;
}
.text {
    display: flex;
    text-align: center;
    font-size: 50px;
    color: white;
    font-style: oblique;
    text-shadow: 4px 4px 4px white;
}
.format {
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.row > * {
    display: flex;
    justify-content: center;
}
.container > .row {
    height: -webkit-fill-available;
}
div > a {
    width: 100%;
}
.btn.btn-primary.btn-lg.active {
    background-color: #303030;
    border-color: #303030;
    box-shadow: inset 2px 2px 5px white;
}