img {
    display: flex;
}
canvas {
    display: flex;
    position: relative;
} 
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}
div.container > .text {
    font-size: 50px;
    z-index: 2;
    display: none;
    position: absolute;
    align-items: center;
}
div.container > canvas {
    z-index: 1;
}